## Take Output from eda_4_8 and Add Target Columns

In [1]:
import os
if os.name=='nt':
    try:
        mingw_path = 'C:\\Program Files\\mingw-w64\\x86_64-8.1.0-posix-seh-rt_v6-rev0\\mingw64\\bin'
        os.environ['PATH'] = mingw_path + ';' + os.environ['PATH']
    except:
        pass
    
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import tqdm
import gc
import xgboost as xgb
from sklearn.preprocessing import LabelEncoder
import csv

tqdm.tqdm.pandas()

%matplotlib inline

In [4]:
target_cols = ['ind_ahor_fin_ult1','ind_aval_fin_ult1','ind_cco_fin_ult1','ind_cder_fin_ult1','ind_cno_fin_ult1','ind_ctju_fin_ult1','ind_ctma_fin_ult1','ind_ctop_fin_ult1','ind_ctpp_fin_ult1','ind_deco_fin_ult1','ind_deme_fin_ult1','ind_dela_fin_ult1','ind_ecue_fin_ult1','ind_fond_fin_ult1','ind_hip_fin_ult1','ind_plan_fin_ult1','ind_pres_fin_ult1','ind_reca_fin_ult1','ind_tjcr_fin_ult1','ind_valo_fin_ult1','ind_viv_fin_ult1','ind_nomina_ult1','ind_nom_pens_ult1','ind_recibo_ult1']
target_cols = target_cols[2:]
target_cols = sorted(target_cols)

In [2]:
df = pd.read_hdf('../input/train_test_features_converted.hdf', 'train_test')

In [5]:
target = pd.read_csv('../input/train_ver2.csv', usecols=['ncodpers', 'fecha_dato']+target_cols)

In [6]:
target.shape

(13647309, 24)

In [7]:
df.shape

(14576924, 20)

In [11]:
target.head()

,fecha_dato,ncodpers,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2015-01-28,1375586,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
1,2015-01-28,1050611,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050612,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
3,2015-01-28,1050613,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0.0,0.0,0
4,2015-01-28,1050614,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0

In [12]:
df.head()

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,ind_nuevo,antiguedad,indrel,indrel_1mes,tiprel_1mes,indresi,indext,conyuemp,canal_entrada,indfall,tipodom,ind_actividad_cliente,renta,segmento
0,2015-01-28,1375586,1,0,1,0.214286,0.0,0.023438,0.0,1.0,2.0,1,2,0,0.0,2,1.0,1.0,0.058145,0
1,2015-01-28,1050611,1,0,0,0.042857,0.0,0.136719,0.0,1.0,1.0,1,1,0,1.0,2,1.0,0.0,0.023699,1
2,2015-01-28,1050612,1,0,0,0.042857,0.0,0.136719,0.0,1.0,1.0,1,2,0,1.0,2,1.0,0.0,0.081453,1
3,2015-01-28,1050613,1,0,1,0.028571,0.0,0.136719,0.0,1.0,1.0,1,2,0,2.0,2,1.0,0.0,0.079850,1
4,2015-01-28,1050614,1,0,0,0.042857,0.0,0.136719,0.0,1.0,2.0,1,2,0,1.0,2,1.0,1.0,0.067900,1

In [14]:
df2 = pd.merge(df, target, on=['fecha_dato', 'ncodpers'], how='left')

In [19]:
df2.isnull().sum()

fecha_dato                    0
ncodpers                      0
ind_empleado                  0
pais_residencia               0
sexo                          0
age                           0
ind_nuevo                     0
antiguedad                    0
indrel                        0
indrel_1mes                   0
tiprel_1mes                   0
indresi                       0
indext                        0
conyuemp                      0
canal_entrada                 0
indfall                       0
tipodom                       0
ind_actividad_cliente         0
renta                         0
segmento                      0
ind_cco_fin_ult1         929615
ind_cder_fin_ult1        929615
ind_cno_fin_ult1         929615
ind_ctju_fin_ult1        929615
ind_ctma_fin_ult1        929615
ind_ctop_fin_ult1        929615
ind_ctpp_fin_ult1        929615
ind_deco_fin_ult1        929615
ind_deme_fin_ult1        929615
ind_dela_fin_ult1        929615
ind_ecue_fin_ult1        929615
ind_fond_fin_ult1        929615
ind_hip_fin_ult1         929615
ind_plan_fin_ult1        929615
ind_pres_fin_ult1        929615
ind_reca_fin_ult1        929615
ind_tjcr_fin_ult1        929615
ind_valo_fin_ult1        929615
ind_viv_fin_ult1         929615
ind_nomina_ult1          945678
ind_nom_pens_ult1        945678
ind_recibo_ult1          929615
dtype: int64

In [20]:
df2.fillna(0.0, inplace=True)

In [ ]:
df2.to_hdf('../input/train_test_feature_target.hdf', 'train_test', complib='blosc:lz4', complevel=9, format='t')

C:\Users\elunden\AppData\Local\Continuum\anaconda3\lib\site-packages\tables\leaf.py:357: RuntimeWarning: overflow encountered in long_scalars
  expected_mb = (expectedrows * rowsize) // MB