In [1]:
import os
if os.name=='nt':
    try:
        mingw_path = 'C:\\Program Files\\mingw-w64\\x86_64-8.1.0-posix-seh-rt_v6-rev0\\mingw64\\bin'
        os.environ['PATH'] = mingw_path + ';' + os.environ['PATH']
    except:
        pass
    
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import tqdm

tqdm.tqdm.pandas()

%matplotlib inline

In [2]:
df = pd.read_csv('../input/train_ver2.csv')
df2 = df.copy()

C:\Users\home\Anaconda3\envs\kaggle\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (5,8,11,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
ult_null = pd.read_hdf('../input/data.hdf', 'train_ult_null_count')

In [5]:
ncodpers_mixnull = ult_null.loc[(ult_null.count_ult_notnull>0) & (ult_null.count_ult_null>0)].index.tolist()

In [7]:
df.ult_fec_cli_1t = pd.to_datetime(df.ult_fec_cli_1t)
df.fecha_dato = pd.to_datetime(df.fecha_dato)
df.fecha_alta = pd.to_datetime(df.fecha_alta)

In [8]:
df.sort_values(['ncodpers', 'fecha_dato'], inplace=True)

In [11]:
df.loc[df.ncodpers.isin(ncodpers_mixnull), 'ult_fec_cli_1t'] = \
    df.loc[df.ncodpers.isin(ncodpers_mixnull), 'ult_fec_cli_1t'].fillna(method='bfill')

In [13]:
df.loc[df.ncodpers.isin(ncodpers_mixnull), ['ncodpers', 'ult_fec_cli_1t']].head()

         ncodpers ult_fec_cli_1t
4078994     15891     2015-08-05
5319232     15891     2015-08-05
4079035     16136     2016-03-17
5319290     16136     2016-03-17
5705240     16136     2016-03-17

In [28]:
df.age = pd.to_numeric(df.age, errors='coerce')

In [36]:
df.antiguedad = pd.to_numeric(df.antiguedad, errors='coerce')

In [97]:
fecha_dato = pd.DatetimeIndex(df.fecha_dato)
fecha_alta = pd.DatetimeIndex(df.fecha_alta)
fecha_diff = (fecha_dato.year-fecha_alta.year)*12 + (fecha_dato.month-fecha_alta.month)

In [109]:
df.isnull().sum()

MemoryError:

In [40]:
df.loc[df.antiguedad<0]

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
452687,2015-01-28,138388,N,ES,V,51.0,1999-07-16,0.0,-999999.0,1.0,...,1,1,0,1,1,1,0,1.0,1.0,1
800687,2015-02-28,138388,N,ES,V,51.0,1999-07-16,0.0,-999999.0,1.0,...,1,1,0,1,1,1,0,1.0,1.0,1
1422227,2015-03-28,138388,N,ES,V,51.0,1999-07-16,0.0,-999999.0,1.0,...,1,1,0,1,1,1,0,1.0,1.0,1
2056813,2015-04-28,138388,N,ES,V,51.0,1999-07-16,0.0,-999999.0,1.0,...,1,1,0,1,1,1,0,1.0,1.0,1
2969610,2015-05-28,138388,N,ES,V,51.0,1999-07-16,0.0,-999999.0,1.0,...,1,1,0,1,1,1,0,1.0,1.0,1
3601557,2015-06-28,138388,N,ES,V,51.0,1999-07-16,0.0,-999999.0,1.0,...,1,1,0,1,1,1,0,1.0,1.0,1
4020536,2015-07-28,138388,N,ES,V,51.0,1999-07-16,0.0,-999999.0,1.0,...,1,1,0,1,1,1,0,1.0,1.0,1
5257294,2015-08-28,138388,N,ES,V,51.0,1999-07-16,0.0,-999999.0,1.0,...,1,1,0,1,1,1,0,1.0,1.0,1
5647050,2015-09-28,138388,N,ES,V,51.0,1999-07-16,0.0,-999999.0,1.0,...,1,1,0,1,1,1,0,1.0,1.0,1
6968353,2015-10-28,138388,N,ES,V,51.0,1999-07-16,0.0,-999999.0,1.0,...,1,1,0,1,1,1,0,1.0,1.0,1
7616647,2015-11-28,138388,N,ES,V,51.0,1999-07-16,0.0,-999999.0,1.0,...,1,1,0,1,1,1,0,1.0,1.0,1
8678128,2015-12-28,138388,N,ES,V,51.0,1999-07-16,0.0,-999999.0,1.0,...,1,1,0,1,1,1,0,1.0,1.0,1
9114602,2016-01-28,138388,N,ES,V,51.0,1999-07-16,0.0,-999999.0,1.0,...,1,1,0,1,1,1,0,1.0,1.0,1
10405076,2016-02-28,138388,N,ES,V,51.0,1999-07-16,0.0,-999999.0,1.0,...,1,1,0,1,1,1,0,1.0,1.0,1
11109978,2016-03-28,138388,N,ES,V,52.0,1999-07-16,0.0,-999999.0,1.0,...,1,1,0,1,1,1,0,1.0,1.0,1
12041260,2016-04-28,138388,N,ES,V,52.0,1999-07-16,0.0,-999999.0,1.0,...,1,1,0,1,1,1,0,1.0,1.0,1
12964573,2016-05-28,138388,N,ES,V,52.0,1999-07-16,0.0,-999999.0,1.0,...,1,1,0,1,0,1,0,1.0,1.0,1
461981,2015-01-28,162278,N,ES,V,66.0,2005-06-08,0.0,-999999.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
788786,2015-02-28,162278,N,ES,V,66.0,2005-06-08,0.0,-999999.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
1412242,2015-03-28,162278,N,ES,V,66.0,2005-06-08,0.0,-999999.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
2045024,2015-04-28,162278,N,ES,V,66.0,2005-06-08,0.0,-999999.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
2980914,2015-05-28,162278,N,ES,V,66.0,2005-06-08,0.0,-999999.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3613493,2015-06-28,162278,N,ES,V,66.0,2005-06-08,0.0,-999999.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
4008831,2015-07-28,162278,N,ES,V,66.0,2005-06-08,0.0,-999999.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
5295097,2015-08-28,162278,N,ES,V,67.0,2005-06-08,0.0,-999999.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
5683025,2015-09-28,162278,N,ES,V,67.0,2005-06-08,0.0,-999999.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
6982647,2015-10-28,162278,N,ES,V,67.0,2005-06-08,0.0,-999999.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
7658437,2015-11-28,162278,N,ES,V,67.0,2005-06-08,0.0,-999999.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
8644608,2015-12-28,162278,N,ES,V,67.0,2005-06-08,0.0,-999999.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
9045555,2016-01-28,162278,N,ES,V,67.0,2005-06-08,0.0,-999999.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
10396442,2016-02-28,162278,N,ES,V,67.0,2005-06-08,0.0,-999999.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
11097857,2016-03-28,162278,N,ES,V,67.0,2005-06-08,0.0,-999999.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
12111000,2016-04-28,162278,N,ES,V,67.0,2005-06-08,0.0,-999999.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
12952748,2016-05-28,162278,N,ES,V,67.0,2005-06-08,0.0,-999999.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
10771018,2016-02-28,750561,N,ES,V,36.0,2016-01-27,0.0,-999999.0,1.0,...,0,1,0,0,0,0,0,1.0,1.0,0
11361026,2016-03-28,750561,N,ES,V,37.0,2016-01-27,0.0,-999999.0,1.0,...,0,1,0,0,0,0,0,1.0,1.0,1
11978594,2016-04-28,750561,N,ES,V,37.0,2016-01-27,0.0,-999999.0,1.0,...,0,1,0,0,0,0,0,1.0,1.0,1
12911749,2016-05-28,750561,N,ES,V,37.0,2016-01-27,0.0,-999999.0,1.0,...,0,1,0,0,0,0,0,1.0,1.0,1

In [35]:
df.antiguedad.value_counts(dropna=False).shape

(507,)

In [22]:
df.loc[df.index.isin(row_id)].sample().T

                                   1929734
fecha_dato             2015-04-28 00:00:00
ncodpers                            452941
ind_empleado                           NaN
pais_residencia                        NaN
sexo                                   NaN
age                                     NA
fecha_alta                             NaT
ind_nuevo                              NaN
antiguedad                              NA
indrel                                 NaN
ult_fec_cli_1t                         NaT
indrel_1mes                            NaN
tiprel_1mes                            NaN
indresi                                NaN
indext                                 NaN
conyuemp                               NaN
canal_entrada                          NaN
indfall                                NaN
tipodom                                NaN
cod_prov                               NaN
nomprov                                NaN
ind_actividad_cliente                  NaN
renta                                  NaN
segmento                               NaN
ind_ahor_fin_ult1                        0
ind_aval_fin_ult1                        0
ind_cco_fin_ult1                         0
ind_cder_fin_ult1                        0
ind_cno_fin_ult1                         0
ind_ctju_fin_ult1                        0
ind_ctma_fin_ult1                        0
ind_ctop_fin_ult1                        0
ind_ctpp_fin_ult1                        0
ind_deco_fin_ult1                        0
ind_deme_fin_ult1                        0
ind_dela_fin_ult1                        0
ind_ecue_fin_ult1                        0
ind_fond_fin_ult1                        0
ind_hip_fin_ult1                         0
ind_plan_fin_ult1                        0
ind_pres_fin_ult1                        0
ind_reca_fin_ult1                        1
ind_tjcr_fin_ult1                        0
ind_valo_fin_ult1                        0
ind_viv_fin_ult1                         0
ind_nomina_ult1                        NaN
ind_nom_pens_ult1                      NaN
ind_recibo_ult1                          0